@import "tailwindcss";

@font-face {
  font-family: "PTSerif-Regular";
  font-style: normal;
  src: url("assets/font/PTSerif-Regular.ttf");
}

@font-face {
  font-family: "IMFellFrenchCanonSC-Regular";
  font-style: normal;
  src: url("assets/font/IMFellFrenchCanonSC-Regular.ttf");
}

@theme {
  --color-primary: #8d1812;
  --color-secondary: #d5af3c;
  --color-bg-color: #e7e7e3;
  --font-display: "PT Serif", sans serif;
  --font-display-secondary: "IMFellFrenchCanonSC-Regular", sans serif;
}

.nav-title {
  color: var(--color-primary);
  font-size: 2.25rem;
  font-weight: bold;
  font-family: var(--font-display);
  transition: 0.2s ease;
}
.nav-title:hover {
  opacity: 50%;
  color: black;
}

/* Dans ton CSS global */
.dot {
  @apply w-2.5 h-2.5 rounded-full bg-white/40 border-none cursor-pointer transition-all duration-300;
}
.dot.active {
  @apply bg-white scale-125;
}
.filter-btn.active {
  @apply bg-primary text-white border-primary;
}

/* gestion de l'animation de la galerie */
.gallery-item {
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

.gallery-item.visible {
  opacity: 1;
  transform: translateY(0);
}

/* gestion de l'animation des menus galerie */
.slide-in {
  opacity: 0;
  transform: translateX(150px);
  transition: 2.3s cubic-bezier(0.7, 0.1, 0.5, 0.9);
  animation-duration: 23ms;
}

.slide-in.visible {
  opacity: 1;
  transform: translateX(0);
}

/* gestion de l'animations des photos de la galerie */
.gallery-item {
  transform: scale(0);
  transition: transform 1.9s cubic-bezier(0.1, 0.7, 0.5, 1);
  animation-duration: 1.9s;
}

.gallery-item.visible {
  transform: scale(1);
}
